.box{
    border-style: solid;
    border-width: 2px;
    border-color: #345F90;
    border-radius: 10px;
    width: 90%;
    margin: 10px;
    text-align: center;
    cursor: move;
}

.item_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview{
    width: 100%;
    min-height: 90vh;
}

.preview_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.header{
    background-color: #CCCCCC;
    width: 100%;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conatiner{ 
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
}

.btn_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.editor{
    margin: 10px;
    padding:20px;
    border-style: solid;
    border-color: #eee;
    border-width: 4px;
}

.image_drop_conatiner {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.image_drop {
    width: 90%;
    height: 200px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #bbb;
    border-width: 2px;
}

.img_input_conatiner {
    margin: 10px;
    margin-top: 40px;
}

.tabs_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs {
    width: 95%;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #345F90;
    border-radius: 35px;
}

.tab {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab div {
    font-size: 22px;
    font-weight: bold;
}

.active {
    background-color: #345F90;
    border-style: solid;
    border-width: 1px;
    border-color: #345F90;
    border-radius: 35px;
    color: white;
}

.inactive {
    color: #345F90;
    cursor: pointer;
}

.style_inputs{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.layout_items{
    margin-left: 30px;
    margin-right: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #6666FF;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: move;
}

.layout_inside_blocks_1{
    border-style: solid;
    border-width: 1px;
    border-color: #6666FF;
    width:100%;
    height: 50px;
    background-color: #E3F4FA;
}

.layout_inside_blocks_2{
    border-style: solid;
    border-width: 1px;
    border-color: #6666FF;
    width:50%;
    height: 50px;
    background-color: #E3F4FA;
}

.layout_inside_blocks_2_large{
    border-style: solid;
    border-width: 1px;
    border-color: #6666FF;
    width:66.6667%;
    height: 50px;
    background-color: #E3F4FA;
}

.layout_inside_blocks_2_small{
    border-style: solid;
    border-width: 1px;
    border-color: #6666FF;
    width:33.3333%;
    height: 50px;
    background-color: #E3F4FA;
}

.layout_inside_blocks_3{
    border-style: solid;
    border-width: 1px;
    border-color: #6666FF;
    width:33.3333%;
    height: 50px;
    background-color: #E3F4FA;
}

.layout_table_cells{
    height: 100px;
    background-color: #E3F4FA;
    text-align: center;
    border: 1px solid #6666FF;
}

.layout:hover .primary_row{
    border-style: solid;
    border-width: 2px;
    border-color: #6666FF;
}

.editor_icons{
    margin: 20px;
    margin-left: 70px;
}

.item_h1:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #6666FF;
}

.item_h3:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #6666FF;
}

.item_hr:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #6666FF;
}


.item_p:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #6666FF;
}

.item_img:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #6666FF;
}

.item_btn:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #6666FF;
}

.item_html:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #6666FF;
}

.item_social_media:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #6666FF;
}

.store_header {
    background-color: #CCCCCC;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.store_header_content{
    margin: 20px;
}

.store_content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.store_content_image_container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.store_content_upload{
    margin-top: 30px;
}

.image_card{
    width: 30%;
    margin: 1%;
}
